#blue   {
    color: white;
    background-color: blue;
    height: 100px;
    width: 100px;
}

#yellow   {
    color: white;
    background-color: yellow;
    height: 100px;
    width: 100px;
}

#red  {
    color: white; 
    background-color: red;
    height: 100px;
    width: 100px;
}

#green   {
    color: white;
    background-color: green;
    height: 100px;
    width: 100px;
}
